@page "/GetTrafficData"

<h1>Traffic reports</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (TrafficReports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@ShowModal" class="btn btn-primary">Create Report</button>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in TrafficReports)
            {
                <tr>
                    <td>@forecast.CreatedDate.ToShortDateString()</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}