@page "/weatherreport"
@inject MassTransit.IBus bus
@inject IToastService toastService

<h3>Weather Report</h3>

<EditForm Model="Report" OnValidSubmit="Save">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    Temperature (F) <InputNumber @bind-Value="Report.TemperatureF" class="form-control" /><br />
    Dew Point (F) <InputNumber @bind-Value="Report.DewPointF" class="form-control" /><br />
    Summary <InputTextArea @bind-Value="Report.Summary" class="form-control" /><br />

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {

    private Data.WeatherReport Report = new Data.WeatherReport();

    private async Task Save()
    {
        //Report.CreatedDate = DateTime.UtcNow;
        //db.Add(Report);
        //var changeCount = db.SaveChanges();

        await bus.Publish<Messages.WeatherReportCreated>(new
        {
            TemperatureF = Report.TemperatureF,
            DewPointF = Report.DewPointF,
            Summary = Report.Summary,
            CreatedDate = DateTime.UtcNow
        });

        toastService.ShowSuccess("Saved!");

        Report = new Data.WeatherReport();
    }
}
